# ".htaccess" for Damien Dart's personal website.
#
# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

AddDefaultCharset utf-8
DirectoryIndex index.cgi index.html gitweb.cgi
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 410 /410.html
FileETag none
Options -Indexes -MultiViews
ServerSignature off
SetEnv TZ Europe/London

<IfModule mod_alias.c>
  Redirect gone /deadlypremonition.jpeg
  Redirect gone /demons_souls_theodore.jpg
  Redirect gone /robotinaponcho.jpeg
  Redirect gone /assets/animate.min.css
  Redirect gone /assets/drawings-on-tumblr-background.png
  Redirect gone /assets/foc-footer.html
  Redirect gone /assets/foc-header.html
  Redirect gone /assets/site-header.png
  Redirect gone /assets/site-header@x2.png
  Redirect gone /assets/spin.min.js
  Redirect gone /crap/blog-background.gif
  Redirect gone /crap/blog-background2.gif
  Redirect gone /crap/blog-date-icon.png
  Redirect gone /crap/blog-header.png
  Redirect gone /crap/blog-source-icon.png
  Redirect gone /crap/blog-tags-icon.png
  Redirect gone /crap/thingy.swf
  Redirect 301 /obtaincornhoop/style.css /assets/blog-style.css
  Redirect 301 /obtaincornhoop/page-background.png /assets/blog-background.png
  RedirectMatch 301 /crap/glyphiconshalflings-regular.(eot|otf|svg|ttf|woff) \
      /assets/glyphiconshalflings-regular.$1
  RedirectMatch 301 /obtaincornhoop/glyphiconshalflings-regular.(eot|otf|svg|ttf|woff) \
      /assets/glyphiconshalflings-regular.$1
  RedirectMatch 301 /obtaincornhoop/(html5shiv|selectnav.min).js /assets/$1.js
</IfModule>

# Custom expire headers for better cache control. For more information, see
# <https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L433>.
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 week"
  ExpiresByType application/font-woff "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType application/vnd.ms-fontobjec "access plus 1 week"
  ExpiresByType application/xhtml+xml "access plus 0 seconds"
  ExpiresByType application/x-font-ttf "access plus 1 week"
  ExpiresByType font/opentype "access plus 1 week"
  ExpiresByType image/gif "access plus 1 week"
  ExpiresByType image/jpeg "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/svg+xml "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/html "access plus 0 seconds"
</IfModule>

# Allow access to web fonts from other domains. For more information, see
# <https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L45>.
<IfModule mod_headers.c>
  <FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
  # Force UTF-8 encoding for other file formats.
  AddCharset utf-8 .css .js
  AddType application/javascript js
  AddType application/vnd.ms-fontobject eot
  AddType application/x-font-ttf ttc ttf
  AddType application/x-font-woff woff
  AddType application/x-shockwave-flash swf
  AddType font/opentype otf
  AddType image/x-icon ico
  AddType text/x-c c
  AddType text/x-diff patch
  AddType text/x-python py
  AddType text/x-shellscript sh
  <IfModule mod_headers.c>
    # Remove unneccesary ETags; setting "FileETag None" is not enough. For more
    # information, see <http://developer.yahoo.com/performance/rules.html#etags>.
    Header unset ETag
  </IfModule>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  # Remove "index.cgi" and "index.html" from URLs.
  RewriteCond %{THE_REQUEST} ^.*/index\.(cgi|html)?
  RewriteRule ^(.*)index\.(cgi|html)?$ /$1 [L,NE,R=permanent]
  # Remove "gitweb.cgi" from URLs.
  RewriteCond %{THE_REQUEST} ^.*/gitweb\.cgi?
  RewriteRule ^(.*)gitweb\.cgi?$ /$1 [L,NE,R=permanent]
  # Remove query strings from URLs. For more information, see
  # <http://briancray.com/posts/htaccess-hack-remove-url-query-strings>.
  RewriteCond %{QUERY_STRING} !=""
  RewriteCond %{REQUEST_URI} !^/crap/$
  RewriteCond %{REQUEST_URI} !^/git/$
  RewriteRule ^(.*)$ /$1? [R=permanent,L]
  # Prevent hotlinking of Obtain Corn Hoop assets.
  RewriteCond %{HTTP_REFERER} !^$
  RewriteCond %{HTTP_REFERER} !google. [NC]
  RewriteCond %{HTTP_REFERER} !^http://www.robotinaponcho.net/.*$ [NC]
  RewriteCond %{HTTP_REFERER} !^http://blog.robotinaponcho.net/.*$ [NC]
  RewriteRule \assets\.*$ - [F]
</IfModule>
