-# About Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2015 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %title About Damien Dart (www.robotinaponcho.net)
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
  %body
    %header.site-header
      .site-header__container
        %h1.site-header__container__title
          %a.site-header__link{:href => "/"} Damien Dart<span> Occasionally Draws Things</span>
        %ul.site-header__container__navigation
          %li.site-header__container__navigation__item
            %a.site-header__link{:href => "/about"} About
    .page-body
      :markdown
        #{File.read(File.join(File.dirname(__FILE__), "public", "_about.markdown"))}
