-# HTTP error response Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "nofollow, noindex", :name => "robots"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %script{:src => "//use.typekit.net/mnw2jkv.js"}
    %script try{Typekit.load();}catch(e){}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_error.scss"))}
    %title #{error_code} (www.robotinaponcho.net)
  %body
    %h1.error_code #{error_code}
