-# Art Stuff Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type"}
    %title Damien Dart's Personal Site (www.robotinaponcho.net)
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
  %body
    .container
      %h1.page-header
        %img.page-header__header-image{:alt => "Damien Dart Occasionally Draws Things", :height => "133", :src => "/assets/homepage-header.png", :srcset => "/assets/homepage-header@2x.png 2x", :width => "538"}
      .thumbnails
        / TMPL_LOOP NAME="artwork"
        %img.thumbnails__thumbnail{:alt => "", :height => "320", :src => "/assets/<TMPL_VAR NAME=\"thumbnail\">", :width => "320"}
        / /TMPL_LOOP
      .links
        %a.links__link{:href => "/crap/"}
          %img.links__link__image{:alt => "The Folder of Crap", :src => "/assets/homepage-folderofcrap.png"}
        %a.links__link{:href => "http://instagram.com/damiendart"}
          %img.links__link__image{:alt => "Instagram", :src => "/assets/homepage-instagram.png"}
        %a.links__link{:href => "https://github.com/damiendart"}
          %img.links__link__image{:alt => "GitHub", :src => "/assets/homepage-github.png"}
        %a.links__link{:href => "https://blog.robotinaponcho.net/"}
          %img.links__link__image{:alt => "Tumblr", :src => "/assets/homepage-tumblr.png"}
        %a.links__link{:href => "https://twitter.com/damiendart"}
          %img.links__link__image{:alt =>"Twitter", :src => "/assets/homepage-twitter.png"}
