-# Art Stuff Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type"}
    %title Damien Dart's Personal Site (www.robotinaponcho.net)
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
  %body
    %header.site-header
      .site-header__container
        %h1.site-header__container__title Damien Dart Occasionally Draws Things
        %ul.site-header__container__navigation
          %li.site-header__container__navigation__item 
            %a.site-header__container__navigation__item__link{:href => "#"} About
    .page-body
      .thumbnails
        / TMPL_LOOP NAME="artwork"
        %img.thumbnails__thumbnail{:alt => "", :src => "/assets/<TMPL_VAR NAME=\"thumbnail\">"}
        / /TMPL_LOOP
