-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Damien Dart", :name => "author"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "_index.scss"))}
    %script{:src => "//use.typekit.net/mnw2jkv.js"}
    %script try{Typekit.load();}catch(e){}
    %title Damien Dart&rsquo;s Personal Website (www.robotinaponcho.net)
  %body
    .content
      :markdown
        #{File.read(File.join(File.dirname(__FILE__), "public", "_index.markdown"))}
    :javascript
      function easterEgg() {
        if (window.location.hash == "#iloveyou") {
          var links = document.getElementsByTagName("a");
          for (var i = 0; i < links.length; i++) {
            links[i].onmouseover = function() {
              this.style.fontFamily = "\"Comic Sans MS\", \"Comic Sans\"";
              this.style.lineHeight = "1";
      }; } } }
      window.onhashchange = easterEgg();
      easterEgg();
