{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = "View Damien Dart's artwork, colouring pages, and illustration." | smartypants %}
{% set slug = 'art/' %}
{% set title = 'Artwork and Drawings' %}

{% block content %}
    <h1>Artwork and Drawings</h1>
    <p>Until I get round to setting up an actual gallery, have a look at
        some stuff I’ve posted on <a href="https://instagram.com/damiendart">Instagram</a>.</p>

    <h2>Colouring pages</h2>
    <p>While going through a <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">lengthy
        period of staying at home</a>, I ended up drawing a whole bunch
        of stuff. Rather than have these drawings languish on a hard
        drive somewhere, I’ve rounded a few up and turned them into
        colouring pages.</p>
    <div class="admonition admonition--colouring-book">
        <h3>Download my hodgepodge of colouring pages</h3>
        <ul>
            <li>Suitable for all ages.</li>
            <li>Periodically updated with more pages!</li>
            <li>Free and available under <a href="https://creativecommons.org/licenses/by/4.0 ">CC
                BY 4.0</a>, so they’re not just for colouring-in!</li>
        </ul>
        <div class="admonition__colouring-book-samples">
            <h4 class="admonition__colouring-book-samples__heading">Samples</h4>
            <img alt="" class="admonition__colouring-book-samples__sample" src="colouring-pages-sample-1.png" title="">
            <img alt="" class="admonition__colouring-book-samples__sample admonition__colouring-book-samples__sample--2" src="colouring-pages-sample-2.png" title="">
            <img alt="" class="admonition__colouring-book-samples__sample admonition__colouring-book-samples__sample--3" src="colouring-pages-sample-3.png" title="">
            <img alt="" class="admonition__colouring-book-samples__sample admonition__colouring-book-samples__sample--4" src="colouring-pages-sample-4.png" title="">
        </div>
        <ul class="button-list">
            <li class="button-list__item"><a class="button" href="colouring-pages-a4.pdf">
                Download A4<span class="collapsible collapsible--small-down">-sized</span><span class="collapsible collapsible--x-small-down"> PDF</span></a></li>
            <li class="button-list__item"><a class="button button--inverse" href="colouring-pages-us.pdf">
                Download US<span class="collapsible collapsible--small-down">-letter-sized</span><span class="collapsible collapsible--x-small-down"> PDF</span></a></li>
        </ul>
    </div>
    <p>I’d love to see what you do with these pages; feel free to tag me
        on the various social medias. Also, consider supporting this and
        the other nonsense I do by sharing this page or
        <a href="https://www.buymeacoffee.com/damiendart">buying me a coffee</a>!</p>
    {%
        include '.templates/share.html.twig' with {
        'link': urlBase ~ slug,
        'twitterAuthor': metaTwitterAuthor,
        'twitterText': 'View @damiendart’s artwork, colouring pages, and illustration.'
    }
    %}
{% endblock %}
