{% extends '_base.html.twig' %}

{% set pageTitle = "Artwork and drawings" %}
{% set showFooter = true %}

{% block pageDescription "View Damien Dart’s artwork and illustration" %}

{% block pageContent %}
  <h1 class="title">Artwork and drawings</h1>
  <p class="blurb">Until I get round to setting up an actual gallery, 
  have a look at some stuff I’ve posted on 
  <a href="https://instagram.com/damiendart">Instagram</a>.</p>
{% endblock %}
