{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set pageSlug = 'art/' %}
{% set pageTitle = "Artwork and Drawings" %}
{% block pageDescription "View Damien Dart’s artwork and illustration" %}

{% block pageContent %}
  <h1 class="title">Artwork and Drawings</h1>
  <p class="blurb">Until I get round to setting up an actual gallery,
  have a look at some stuff I’ve posted on
  <a href="https://instagram.com/damiendart">Instagram</a>.</p>
{% endblock %}
