# ".gitignore" for Damien Dart's personal website.
#
# Copyright (C) 2013-2017 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

bin/.bundle/
bin/bundle/
bin/Gemfile.lock
public/
# The following file is the concatenation of two JavaScript files:
#   - the latest version of "build/decomp.min.js" from
#   <https://github.com/schteppe/poly-decomp.js> and
#   - version 0.14.0 of "build/matter.min.js" from
#   <https://github.com/liabru/matter-js>.
src/assets/index-vendor.js
# The following file is available from <https://itch.io/press-kit/>.
src/assets/itchio.svg
# The following three files are tracked elsewhere.
src/flippywindow/arrow.png
src/flippywindow/background.svg
src/flippywindow/screenshot.png
src/notes/*.markdown
