# ".gitignore" for Damien Dart's personal website.
#
# Copyright (C) 2013, 2014 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

*.cgi
*.html
Gemfile.lock
www/protected/gitweb_config.perl
www/public/robots.txt
www/public/art/*
www/public/assets/*
!www/public/assets/_*
www/public/git/
