# ".gitignore" for Damien Dart's personal website.
#
# Copyright (C) 2013-2017 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

.bundle/
bundle/
Gemfile.lock
public/
# The following icons are available from <https://iconsvg.xyz/>.
static_src/assets/icon-help.svg
static_src/assets/icon-info.svg
# The following file is available from <https://itch.io/press-kit/>.
static_src/assets/itchio.svg
# The following three files are tracked elsewhere.
static_src/assets/og.png
static_src/assets/robot.png
static_src/flippywindow/arrow.png
static_src/flippywindow/background.svg
static_src/flippywindow/screenshot.png
static_src/notes/*.markdown
