$base-background-colour: #ffffff;
$base-feature-colour: #f96e00;
$base-font-size: 16px;
$base-font-stack: "proxima-nova", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-foreground-colour: #000000;
$base-line-height: 1.5rem;
