@import "bourbon";

$adelle: "adelle", $georgia;
$adelle-sans: "adelle-sans", $helvetica;

@mixin link-junk($background-colour, $foreground-colour, $underline: true) {
  a {
    @include transition(background-color 0.1s, color 0.2s);
    border-radius: em($base-line-height / 4, $base-font-size);
    color: $foreground-colour;
    margin: 0 em($base-line-height / -4, $base-font-size);
    padding: 0 em($base-line-height / 4, $base-font-size);
    white-space: pre;
    @if ($underline == false) {
      text-decoration: none; }
    &:active, &:focus, &:hover, &:visited:hover {
      background-color: $foreground-colour;
      color: $background-colour; }
    &:visited {
      background-color: $background-colour;
      color: $foreground-colour; } } }

@mixin loading {
  /* div */.js-loading {
    @include transform(translate(-50%, -50%));
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
    div {
      @at-root {
        @include keyframes(loading) {
          0%, 80%, 100% {
            @include transform(scale(0)); }
          40% {
            @include transform(scale(1.0)); } } }
      @include animation(loading 1.4s infinite ease-in-out both);
      background-color: $base-foreground-colour;
      border-radius: 100%;
      display: inline-block;
      height: em($base-line-height, $base-font-size);
      margin: 0 em($base-line-height / 4, $base-font-size) 0 0;
      width: em($base-line-height, $base-font-size);
      &:last-child {
        margin: 0; }
      &:nth-child(1) {
        @include animation-delay(-0.32s); }
      &:nth-child(2) {
        @include animation-delay(-0.16s); } }
    &--hidden {
      opacity: 0; } } }
