-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %style body{font:100%/1.5 sans-serif;margin:3em;}@media screen and (max-width: 33em){body{font-size:87.5%;margin:1.5em;}}h1{font:bold 200%/1 "Trebuchet MS";}
    %title Damien Dart's Folder of Crap (www.robotinaponcho.net)
  %body
    :markdown
      # [Damien Dart][1]'s Folder of Crap

      [1]: </>

      This is a collection of random bits and pieces that I can't be bothered
      finding a proper home for. Don't expect much.

        - Screenshots of my [iPhone home screen][2], and [Windows Start screen
          and contents of my _bin_ folder][3].
        - SVG doodles: [Trevor the Alien][4].
        - Some notes on [maintaining a Synology DiskStation][5] and
          [Photoshop techniques I often use][6].
        - [A *really* old Flash version][7] of [Bastard Snake][8].
        - [A TeamSpeak server banner][9] that I should really take down.

      [2]: <iphone.png>
      [3]: <start.png>
      [4]: <trevor.svg>
      [5]: <synology-notes.html>
      [6]: <photoshop-notes.html>
      [7]: <bastardsnake.swf>
      [8]: </git/?p=bastardsnake.git>
      [9]: <teamspeak-banner-jpeg>
    %footer
      %hr
      %p <i>One day this page will look nice.</i>
