-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %style body{font-family:sans-serif;line-height:1.5em;margin:3em;}h1{font-family:"Trebuchet MS";}
    %title Damien Dart's Folder of Crap (www.robotinaponcho.net)
  %body
    :markdown
      # [Damien Dart][1]'s Folder of Crap

      [1]: </>

      This is a collection of random bits and pieces that I can't be bothered
      finding a proper home for. Don't expect much.

        - SVG doodles: [Trevor the alien][2].
        - Some notes on [maintaining a Synology DiskStation][3] and
          [Photoshop techniques I often use][4].
        - [A *really* old Flash version][5] of [Bastard Snake][6].
        - [A TeamSpeak server banner][7] that I should really take down.

      [2]: <trevor.html>
      [3]: <synology-notes.html>
      [4]: <photoshop-notes.html>
      [5]: <bastardsnake.swf>
      [6]: </git/?p=bastardsnake.git>
      [7]: <teamspeak-banner-jpeg>
    %footer
      %hr
      %p <i>One day this page will look nice.</i>
