-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Damien Dart's homepage.", "name" => "description"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "Damien Dart's Homepage", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/", :property => "og:url"}
    %script= `uglifyjs index.typekit.js -c --inline-script -m`
    :scss
      #{File.read("index.scss")}
    %title Damien Dart's Homepage (www.robotinaponcho.net)
  %body
    %h1 Damien Dart
    :markdown
      **Hello!** I'm an occasional illustrator and computer person.

      Recent work: FlippyWindow, [Kathryn Craigdaillie Designs][2], 
      [various drawings and illustrations][3] and [open-source stuff][4].

      See also: [GitHub][5], [Instagram][6], [my notes][7], [Tumblr][8], and
      [Twitter][9].

      [I have an email address][1].

      [1]: <mailto:damiendart@pobox.com>
      [2]: <https://www.kathryncraigdaillie.co.uk/>
      [3]: <http://blog.robotinaponcho.net/>
      [4]: </git/>
      [5]: <https://github.com/damiendart>
      [6]: <https://instagram.com/damiendart>
      [7]: </notes/>
      [8]: <http://blog.robotinaponcho.net/>
      [9]: <https://twitter.com/damiendart>
