!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "index.scss"))}
    %title Damien Dart&rsquo;s Personal Website (www.robotinaponcho.net)
  %body
    %p Raspberry kumquats apple raspberries cherries lychees grapefruit.
