-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=Sniglet:400,800", :rel => "stylesheet"}
    %meta{:charset => "utf-8"}
    %meta{:content => "Damien Dart's homepage.", "name" => "description"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "Damien Dart's Homepage", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/", :property => "og:url"}
    :scss
      #{File.read("index.scss")}
    %title Damien Dart's Homepage (www.robotinaponcho.net)
  %body
    %h1 Damien Dart
    %dl
      %dt.a1 <a href="http://www.kathryncraigdaillie.co.uk/">K<span>athryn </span>C<span>raigdaillie</span> Designs</a>
      %dd.a1 A graphic design portfolio website I built.
      %dt.a2 <a href="/art/">My Artwork</a>
      %dd.a2 An assortment of artwork and illustrations.
      %dt.a3 <a href="/git/">Open Source Stuff</a>
      %dd.a3 All of the nerdy things I've written.
      %dt.a4 <a href="/crap/">The Folder of Crap</a>
      %dd.a4 Random bits and pieces.
