-# Homepage Haml markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2017 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "The homepage of Damien Dart, an occasional computer person and illustrator.", "name" => "description"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, width=device-width", "name" => "viewport"}
    %meta{:content => "https://www.robotinaponcho.net/assets/og.png", :property => "og:image"}
    %meta{:content => "Damien Dart: Occasional computer person and illustrator", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "https://www.robotinaponcho.net/", :property => "og:url"}
    %script= `uglifyjs index.typekit.js -c --inline-script -m`
    :scss
      @import "index";
    %title Damien Dart's Homepage (www.robotinaponcho.net)
  %body
    %input.navigation-trigger#navigation-trigger{:type => "checkbox"}
    %label.toggle.toggle--open{:for => "navigation-trigger"} Open Menu
    #container
    .information
      .information__container
        .close-container
          %label.toggle{:for => "navigation-trigger"} Close Menu
        :markdown
          #{File.read("index.markdown")}
    %script= `uglifyjs index.js -c --inline-script -m`
