%input.information-trigger#information-trigger{:autocomplete => "off", :type => "checkbox"}
%label.toggle.toggle--open{:for => "information-trigger"} More Info
#container
  %noscript Enable JavaScript for tumbling robots!
.information
  .information__container
    .close-container
      %label.toggle{:for => "information-trigger"} Less Info
    :markdown
      #{File.read("index.markdown")}
%script= File.read("index.js")
