{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = 'Visit the personal website of Damien Dart, a full-time web developer based in South West England.' %}
{% set slug = '' %}
{% set title = 'Damien Dart’s Personal Website' %}

{% block content %}
    <h1>
      <img alt="A cartoon illustration of a robot in a poncho." height="382" src="/assets/robot.png" srcset="/assets/robot@2x.png 2x" title="Hello!" width="300">
    </h1>
    <p><b>Hello!</b> I’m Damien Dart, a full-time web developer based
        in South West England, and this is my personal website.</p>
    <p><code><b>TODO</b>: Write some more to go here.</code></p>
{% endblock %}
