{% extends '.base.html.twig' %}

{% set pageBodyClass = "page--homepage" %}
{% set pageDescription = "Visit the homepage of Damien Dart, a part-time illustrator and web developer." %}
{% set pageTitle = "Damien Dart’s Homepage" %}

{% block pageContent %}
  <div class="tumbling-robots" id="tumbling-robots">
    <img class="tumbling-robots__robot" src="assets/robot.png">
    <noscript>Enable JavaScript for tumbling robots!</noscript>
  </div>
{% endblock %}
