-#
  ---
  file_comment: |
    "index.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  description: Visit the homepage of Damien Dart, a part-time illustrator and web developer.
  footer_show: false
  page_bem_modifiers: homepage
  javascript: static_src/_index.js
  javascript_external: assets/index-vendor.js
  title: Damien Dart's Homepage
  ---


#tumbling-robots.tumbling-robots
  %img.tumbling-robots__robot{:src => "assets/robot.png"}
  %noscript.tumbling-robots__noscript Enable JavaScript for tumbling robots!
