{% extends '.base.html.twig' %}

{% set pageDescription = "Visit the homepage of Damien Dart, a part-time illustrator and web developer." %}
{% set pageTitle = "Damien Dart’s Homepage" %}

{% block pageContent %}
  <h1><img alt="Hello!" title="" src="assets/robot.png"></h1>
{% endblock %}
