{#
    Copyright (C) 2021 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = 'Visit the personal website of Damien Dart, a full-time web developer based in South West England.' %}
{% set title = 'Damien Dart’s Personal Website' %}

{% block content %}
    <div class="homepage-introduction">
        <p class="introductory-blurb"><b>Hello!</b> I’m Damien Dart, a
            full-time web developer based in South West England, and
            this is my personal&nbsp;website.</p>
    </div>
{% endblock %}
