{% extends '.base.html.twig' %}

{% set pageSlug = 'privacy-policy' %}
{% set pageTitle = 'Privacy Policy' %}

{% block pageDescription 'View the Privacy Policy for Damien Dart’s personal site.' %}

{% block pageContent %}
  <h1>Privacy Policy</h1>

  <p>This privacy policy covers how this website collects, uses, and
  maintains information collected from users, as well as how third-party
  services are utilised.</p>

  <div class="admonition admonition--info">
    <p><b>Note</b>: This privacy policy is regularly reviewed and, if
    necessary, updated. This privacy policy was lasted updated on
    <b>04/12/19</b>. We encourage you to periodically review this
    privacy policy to stay informed on any changes.</p>
  </div>
  
  <p>This website and the way it is run adheres to the <a
  href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/">General
  Data Protection Regulation (GDPR)</a> (EU) when processing personal
  data. As data controllers, the data subjects are the users of this
  website.</p>
  
  <h2>The data this website collect</h2>
  
  <p>While browsing this website, no personal data is collected except
  for server access logs, where information from your browser or device
  is collected when you visit this website. This information includes
  the URL accessed, the time of access, the IP address and the
  browser’s user agent. This information is only used for security
  purposes and to aid site issue investigations. All service access logs 
  are automatically deleted after 14 days.</p>
  
  <h2>Cookies and tracking services</h2>
  
  <p>This website <strong>does not</strong> set any cookies or use any
  trackers, social media buttons or analytics services.</p>
  
  <h2>Third-party services</h2>
  
  <p>This website only uses third-party services that are
  GDPR-compliant.</p>
  
  <ul>
    <li>This website is hosted by <a
    href="https://www.digitalocean.com/security/gdpr/">Digital Ocean</a>
    using servers located in the United Kingdom.</li>
  </ul>
{% endblock %}
