@use "sass:math";
@use "../variables";
@use "../../../node_modules/toolbox-sass";

.admonition {
  $full-breakpoint: variables.$content-width + variables.$base-line-height * 2.5;

  background: variables.$colour-white;
  border-style: solid;
  border-width: variables.$base-border-width;
  border-left-width: variables.$base-line-height;
  border-radius: math.div(variables.$base-line-height, 2);
  box-sizing: border-box;
  margin: variables.$base-line-height math.div(variables.$base-line-height, 2);
  max-width: variables.$content-width;
  position: relative;
  padding: variables.$base-line-height - variables.$base-border-width;
  padding-left: variables.$base-line-height;

  > *:first-child {
    margin: 0;
  }

  &::before {
    @media screen and (min-width: #{$full-breakpoint}) {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      display: block;
      height: variables.$base-line-height * 2;
      left: variables.$base-line-height * -2.5;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: variables.$base-line-height * 2;
    }
  }

  &--colouring-book {
    border-color: variables.$colour-green;

    &::before {
      background-image: url("/assets/icon-download.svg");
    }

    @media screen and (min-width: #{$full-breakpoint}) {
      border-left-width: variables.$base-line-height * 8 !important;

      &::before {
        display: none;
      }
    }
  }

  &--info {
    border-color: variables.$colour-orange;

    &:before {
      background-image: url("/assets/icon-info.svg");
    }
  }

  &--metadata {
    border-color: variables.$colour-gray;

    &:before {
      background-image: url("/assets/icon-help.svg");
    }
  }

  &__colouring-book-samples {
    display: none;

    &__heading {
      display: none;
    }

    @media screen and (min-width: #{$full-breakpoint}) {
      bottom: variables.$base-border-width * -1;
      display: block;
      height: calc(100% + #{variables.$base-border-width * 2});
      left: variables.$base-line-height * -9;
      overflow: hidden;
      position: absolute;
      width: variables.$base-line-height * 10;

      &__sample {
        $sheet-width: variables.$base-line-height * 6;

        top: -10%;
        box-shadow: 0 0 math.div(variables.$base-line-height, 2) rgba(0, 0, 0, 0.1);
        background: variables.$colour-white;
        display: block;
        height: $sheet-width * 1.41429;
        left: 50%;
        position: absolute;
        transform: translateX(-50%) rotate(-2deg);
        width: $sheet-width;

        &--2 {
          top: 20%;
          transform: translateX(-50%) rotate(5deg);
        }

        &--3 {
          top: 40%;
          transform: translateX(-50%) rotate(-3deg);
        }

        &--4 {
          top: 60%;
          transform: translateX(-50%) rotate(4deg);
        }
      }
    }
  }

  @media #{toolbox-sass.$media-small-up} {
    margin: variables.$base-line-height;
  }

  @media screen and (min-width: #{$full-breakpoint}) {
    border-left-width: variables.$base-line-height * 3;
    margin: variables.$base-line-height auto;
    max-width: variables.$content-width + (variables.$base-line-height * 2);
    padding-left: variables.$base-line-height;
  }
}
