@use "../variables";

.homepage-introduction {
  margin: 0 0 (variables.$base-line-height * -3);
  padding: (variables.$base-line-height * 6) variables.$base-line-height;
  position: relative;

  & > *:first-child {
    margin-top: 0;
  }
}
