@use "../variables";

.skip-links {
  background: variables.$colour-white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  opacity: 0;
  padding: variables.$base-line-height;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.125s ease-in;
  width: 100%;
  z-index: 2;

  &:focus-within {
    pointer-events: auto;
    opacity: 1;
  }

  & > * {
    margin: 0;
  }

  &__rule {
    display: none;
  }
}
