@use "sass:math";
@use "../variables";
@use "../../../node_modules/toolbox-sass";

.sub-navigation-list {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media #{toolbox-sass.$media-medium-up} {
    flex-direction: row;
  }

  &__item {
    padding: 0;
    margin: 0;

    @media #{toolbox-sass.$media-medium-up} {
      & + & {
        margin: 0 0 0 math.div(variables.$base-line-height, 2);
        padding: 0 0 0 math.div(variables.$base-line-height, 2);
        position: relative;

        &::before {
          background: variables.$colour-gray;
          border-radius: 50%;
          content: "";
          display: block;
          height: math.div(variables.$base-line-height, 4);
          left: math.div(variables.$base-line-height, -8);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: math.div(variables.$base-line-height, 4);

        }
      }
    }
  }

  &--rigid {
    flex-direction: row;

    .sub-navigation-list__item + .sub-navigation-list__item {
      margin: 0 0 0 math.div(variables.$base-line-height, 2);
      padding: 0 0 0 math.div(variables.$base-line-height, 2);
      position: relative;

      &::before {
        background: variables.$colour-gray;
        border-radius: 50%;
        content: "";
        display: block;
        height: math.div(variables.$base-line-height, 4);
        left: math.div(variables.$base-line-height, -8);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: math.div(variables.$base-line-height, 4);
      }
    }
  }

  &--note {
    color: variables.$colour-gray-dark;
    font-size: 87.5%;
    margin: (variables.$base-line-height * -3.75) 0 (variables.$base-line-height * 4);

    a {
      color: inherit;
    }
  }
}
