{#---
    # Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'Artwork and Drawings'
---#}

{% extends '.templates/base.html.twig' %}

{% set description = "View Damien Dart's artwork and illustrations." | smartypants %}

{% block content %}
    <p>Until I get round to setting up an actual gallery, have a look at
        some stuff I’ve posted on <a href="https://instagram.com/damiendart/">Instagram</a>.</p>
    <p>If you’re looking for colouring pages, <a href="/crap/">they've moved</a>.</p>
{% endblock %}
