AddDefaultCharset utf-8
FileETag none
Options +Indexes -MultiViews
ServerSignature off
SetEnv TZ Europe/London

<IfModule mod_alias.c>
  Redirect gone /deadlypremonition.jpeg
  Redirect gone /demons_souls_theodore.jpg
  Redirect gone /robotinaponcho.jpeg
  Redirect gone /crap/bastardsnake.swf
  Redirect gone /crap/blog-background.gif
  Redirect gone /crap/blog-background2.gif
  Redirect gone /crap/blog-date-icon.png
  Redirect gone /crap/blog-header.png
  Redirect gone /crap/blog-source-icon.png
  Redirect gone /crap/blog-tags-icon.png
  Redirect gone /crap/thingy.swf
  Redirect 301 /obtaincornhoop/style.css /assets/blog-style.css
  Redirect 301 /obtaincornhoop/page-background.png /assets/blog-background.png
  RedirectMatch 301 /crap/glyphiconshalflings-regular.(eot|otf|svg|ttf|woff) \
      /assets/glyphiconshalflings-regular.$1
  RedirectMatch 301 /obtaincornhoop/glyphiconshalflings-regular.(eot|otf|svg|ttf|woff) \
      /assets/glyphiconshalflings-regular.$1
  RedirectMatch 301 /obtaincornhoop/(html5shiv|selectnav.min).js /assets/$1.js
</IfModule>

# Custom expire headers for better cache control. For more information, see
# <https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L433>.
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 week"
  ExpiresByType application/font-woff "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType application/vnd.ms-fontobjec "access plus 1 week"
  ExpiresByType application/x-font-ttf "access plus 1 week"
  ExpiresByType font/opentype "access plus 1 week"
  ExpiresByType image/gif "access plus 1 week"
  ExpiresByType image/jpeg "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/svg+xml "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/html "access plus 0 seconds"
</IfModule>

# Allow access to web fonts from other domains. For more information, see
# <https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L45>.
<IfModule mod_headers.c>
  <FilesMatch "\.(eot|font.css|otf|ttc|ttf|woff)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

<IfModule mod_mime.c>
  # Force UTF-8 encoding for other file formats.
  AddCharset utf-8 .css .js
  AddType application/javascript js
  AddType application/vnd.ms-fontobject eot
  AddType application/x-font-ttf ttc ttf
  AddType application/x-font-woff woff
  AddType application/x-shockwave-flash swf
  AddType font/opentype otf
  AddType image/x-icon ico
  AddType text/x-c c
  AddType text/x-diff patch
  AddType text/x-python py
  AddType text/x-shellscript sh
  # Remove unneccesary ETags; setting "FileETag None" is not enough. For more
  # information, see <http://developer.yahoo.com/performance/rules.html#etags>.
  Header unset ETag
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  # Remove "index.html" from URLs.
  RewriteCond %{THE_REQUEST} ^.*index\.html?
  RewriteRule ^(.*)index\.html?$ /$1 [R=permanent,L]
  # Remove query strings from URLs. For more information, see
  # <http://briancray.com/posts/htaccess-hack-remove-url-query-strings>.
  RewriteCond %{QUERY_STRING} !=""
  RewriteCond %{REQUEST_URI} !^/crap/$
  RewriteRule ^(.*)$ /$1? [R=permanent,L]
  # Prevent hotlinking of Obtain Corn Hoop assets.
  RewriteCond %{HTTP_REFERER} !^$
  RewriteCond %{HTTP_REFERER} !google. [NC]
  RewriteCond %{HTTP_REFERER} !^http://www.robotinaponcho.net/.*$ [NC]
  RewriteCond %{HTTP_REFERER} !^http://blog.robotinaponcho.net/.*$ [NC]
  RewriteRule \obtaincornhoop\.*$ - [F]
</IfModule>
