@import "bourbon";

$base-background-colour: #000000;
$base-font-size: 16px;
$base-foreground-colour: #ffffff;
$base-line-height: 24px;
$base-layout-unit: $base-line-height;

body {
  background-color: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 "Helvetica Neue", "Helvetica", Arial, sans-serif;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  -webkit-font-smoothing: antialiasing;
  margin: 0;
  // Internet Explorer 6 hates us and doesn't center block elements with just
  // "margin-left: auto; margin-right: auto" alone.
  text-align: center;
  -webkit-text-size-adjust: 100%; }

/* h1 */.error_code {
  $font-size: 160px;
  left: 0;
  font-size: percentage($font-size / $base-font-size);
  line-height: 1em;
  margin: em($font-size / -2, $font-size) auto 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%; }
