!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type"}
    %meta{:content => "nofollow, noindex", :name => "robots"}
    %title<
      = error_code
  %body
    %h1<
      = error_code
