!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Damien Dart", :name => "author"}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "site", "_index.scss"))}
    %script{:src => "//use.typekit.net/mnw2jkv.js"}
    %script try{Typekit.load();}catch(e){}
    %title Damien Dart&rsquo;s Personal Website (www.robotinaponcho.net)
  %body
    .page-content
      .page-content__body
        :markdown
          #{File.read(File.join(File.dirname(__FILE__), "site", "_index.markdown"))}
