@import "bourbon";

$base-background-colour: #ffffff;
$base-font-size: 24px;
$base-foreground-colour: #444444;
$base-line-height: 36px;
$base-link-background-colour: #4c50a4;
$base-link-foreground-colour: #ffffff;
$base-link-hover-background-colour: darken($base-link-background-colour, 25);
$base-layout-unit: $base-line-height;

body {
  @include box(horizontal, center, center);
  background-color: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  -webkit-font-smoothing: antialiasing;
  height: 100%;
  margin: 0; // Reset the body margin set in most browsers.
  // Internet Explorer 6 hates us and doesn't center block elements with just
  // "margin-left: auto; margin-right: auto" alone.
  text-align: center;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
    font-size: percentage(($base-font-size * 0.875) / 16px); } }

html {
  height: 100%;
  width: 100%; }

/* div */.page-content {
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    padding: em($base-layout-unit / 2, $base-font-size); }
  /* ul */.page-content__project-list {
    @include clearfix;
    list-style: none;
    // Apply negative margins to negate list items' gutters.
    margin: em($base-layout-unit / 4, $base-font-size) 0
        0 em($base-layout-unit / -4, $base-font-size);
    padding: 0;
    text-align: left;
    width: em(600px + ($base-layout-unit * 2), $base-font-size);
    @media screen and (max-width: 767px) {
      width: 100%; }
    /* li */.page-content__project-list__item {
      float: left;
      height: em($base-layout-unit * 5, $base-font-size);
      margin: em($base-layout-unit / 4, $base-font-size) 0
          0 em($base-layout-unit / 4, $base-font-size);
      padding: 0;
      width: em(300px + ($base-layout-unit * 0.75), $base-font-size);
      @media screen and (max-width: 767px) {
        width: 100%; } } }
  /* div */.page-content__text {
    text-align: left;
    margin: em($base-layout-unit / 2, $base-font-size) auto 0 auto;
    width: em(600px, $base-font-size);
    @media screen and (max-width: 767px) {
      width: 100%; }
    a {
      background-color: $base-link-foreground-colour;
      color: $base-link-background-colour;
      font-weight: bold;
      text-decoration: underline;
      &:active, &:focus, &:hover, &:visited:hover {
        background-color: $base-link-foreground-colour;
        color: $base-link-hover-background-colour;
        text-decoration: underline; }
      &:visited {
        // TODO: Make visited links a little different from other links?
        background: $base-link-foreground-colour;
        color: $base-link-background-colour; } }
    p {
      margin: 0;
      & + p {
        text-indent: em($base-line-height, $base-font-size); } } } }

/* a */.panel {
  @include box-sizing(border-box);
  background: $base-link-background-colour;
  border-radius: em($base-layout-unit / 4, $base-font-size);
  color: $base-link-foreground-colour;
  display: block;
  height: em($base-layout-unit * 5, $base-font-size);
  overflow: hidden;
  position: relative;
  text-align: left;
  /* blockquote */.panel__code-background {
    @include transform(rotate(4deg));
    left: 10%;
    color: #000000;
    font-size: 75%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    pre {
      margin: 0;
      padding: 0; } }
  /* div */.panel__text {
    bottom: em($base-line-height / 2, $base-font-size);
    left: em($base-line-height / 2, $base-font-size);
    margin: 0;
    padding: 0 em($base-line-height / 2, $base-font-size) 0 0;
    position: absolute;
    z-index: 1000; }
  &:active, &:focus, &:hover, &:visited:hover {
    color: $base-link-foreground-colour;
    background-color: $base-link-hover-background-colour;
    text-decoration: underline; }
  &:visited {
    color: $base-link-foreground-colour;
    background-color: $base-link-background-colour; } }
