@import "bourbon";

$base-background-colour: #ffffff;
$base-font-size: 24px;
$base-foreground-colour: #444444;
$base-line-height: 36px;
$base-link-background-colour: #4c50a4;
$base-link-foreground-colour: #ffffff;
$base-link-hover-background-colour: darken($base-link-background-colour, 25);
$base-layout-unit: $base-line-height;

body {
  @include box(horizontal, center, center);
  background-color: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 "Helvetica Neue", Helvetica, sans-serif;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  -webkit-font-smoothing: antialiasing;
  height: 100%;
  margin: 0; // Reset the body margin set in most browsers.
  // Internet Explorer 6 hates us and doesn't center block elements with just
  // "margin-left: auto; margin-right: auto" alone.
  text-align: center;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  @media screen and (max-width: 767px) {
    display: block;
    font-size: percentage(($base-font-size * 0.875) / 16px); } }

html {
  height: 100%;
  width: 100%; }

/* div */.page-content {
  /* div */.page-content__body {
    text-align: left;
    margin: 0 auto;
    padding: em($base-layout-unit * 2, $base-font-size) 0;
    max-width: em(600px, $base-font-size);
    @media screen and (max-width: 767px) {
      padding: em($base-layout-unit, $base-font-size); }
    a {
      @include transition(background-color 0.25s);
      background-color: $base-link-background-colour;
      border-radius: em($base-line-height / 4, $base-font-size);
      color: $base-link-foreground-colour;
      padding: 0 em($base-line-height / 4, $base-font-size);
      text-decoration: none;
      &:active, &:focus, &:hover, &:visited:hover {
        background-color: $base-link-hover-background-colour;
        color: $base-link-foreground-colour;
        text-decoration: underline; }
      &:visited {
        // TODO: Make visited links a little different from other links?
        background: $base-link-background-colour;
        color: $base-link-foreground-colour; } }
    p {
      margin: 0;
      & + p {
        text-indent: em($base-line-height, $base-font-size); } } } }
