{#---
    # Copyright (C) Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'Git Repositories'
---#}

{% extends '.templates/base.html.twig' %}

{% set description = "View a bunch of Damien Dart's Git repository mirrors." %}

{% block content %}
    <p>The following Git repositories are read-only mirrors of those
        found on <a href="https://github.com/damiendart">my public
        GitHub profile</a>. These repositories are updated every hour,
        provided GitHub or the mirroring script hasn’t shat the bed.</p>
    <p>For more information on these repositories, see the
        <a href="/projects/">projects page</a>.</p>

    <span class="anchor" id="adventofcode"></span>
    <span class="anchor" id="brainfuck"></span>
    <span class="anchor" id="flippywindow"></span>
    <span class="anchor" id="kew"></span>
    <span class="anchor" id="pathshorten"></span>
    <span class="anchor" id="robotinaponcho"></span>
    <span class="anchor" id="setup"></span>
    <span class="anchor" id="snippets"></span>
    <span class="anchor" id="timetracker"></span>
    <span class="anchor" id="toolbox"></span>
    <span class="anchor" id="yassg"></span>
    <h2>Active repositories</h2>
    <pre><code>https://www.robotinaponcho.net/git/adventofcode.git
https://www.robotinaponcho.net/git/brainfuck.git
https://www.robotinaponcho.net/git/flippywindow.git
https://www.robotinaponcho.net/git/kew.git
https://www.robotinaponcho.net/git/pathshorten.git
https://www.robotinaponcho.net/git/robotinaponcho.git
https://www.robotinaponcho.net/git/setup.git
https://www.robotinaponcho.net/git/snippets.git
https://www.robotinaponcho.net/git/timetracker.git
https://www.robotinaponcho.net/git/toolbox.git
https://www.robotinaponcho.net/git/toolbox-sass.git
https://www.robotinaponcho.net/git/yassg.git</code></pre>

    <span class="anchor" id="bastardsnake"></span>
    <span class="anchor" id="knr-solutions"></span>
    <span class="anchor" id="nfsnapi-python"></span>
    <span class="anchor" id="notes"></span>
    <span class="anchor" id="obtaincornhoop"></span>
    <span class="anchor" id="timeline"></span>
    <span class="anchor" id="toolbox-sass"></span>
    <h2>Archived repositories</h2>
    <pre><code>https://www.robotinaponcho.net/git/bastardsnake.git
https://www.robotinaponcho.net/git/knr-solutions.git
https://www.robotinaponcho.net/git/nfsnapi-python.git
https://www.robotinaponcho.net/git/notes.git
https://www.robotinaponcho.net/git/obtaincornhoop.git
https://www.robotinaponcho.net/git/timeline.git
https://www.robotinaponcho.net/git/toolbox-sass.git</code></pre>
{% endblock %}
