{% extends '.base.html.twig' %}

{% set pageDescription = "View a bunch of Damien Dart’s open-source stuff" %}
{% set pageTitle = "Open-source Stuff" %}

{% block phpPreamble %}
  <?php
    require_once dirname(dirname(__DIR__)) . '/protected/vendor/autoload.php';

    if (getenv('SENTRY_DSN')) {
        Sentry\init(
            [
                'dsn' => getenv('SENTRY_DSN'),
                'environment' => getenv('APP_ENV'),
                'release' => getenv('DEPLOYED_RELEASE'),
            ]
        );
    }

    $repositories = json_decode(
        file_get_contents(
            join(
                [getenv('SHARED_ROOT'), 'protected', 'git', 'metadata.json'],
                DIRECTORY_SEPARATOR
            )
        ),
        true
    );
  ?>
{% endblock %}

{% block pageContent %}
  <h1>Open-source stuff</h1>
  <a class="anchor" id="toolbox-sass"></a>
  <h2>toolbox-sass (2019)</h2>
  <p>Assorted Sass bits-and-pieces.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'CSS', 'project': 'toolbox-sass' } %}

  <a class="anchor" id="setup"></a>
  <h2>setup (2018)</h2>
  <p>A bunch of Ansible stuff I use to setup various things.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'Shell', 'project': 'setup' } %}

  <a class="anchor" id="flippywindow"></a>
  <h2>FlippyWindow (2016)</h2>
  <p>FlippyWindow is a simple Windows application that non-destructively flips any part of your screen horizontally.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'C++', 'project': 'flippywindow' } %}

  <a class="anchor" id="notes"></a>
  <h2>notes (2014)</h2>
  <p>Notes on stuff.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'Ruby', 'project': 'notes' } %}

  <a class="anchor" id="bastardsnake"></a>
  <h2>Bastard Snake (2013)</h2>
  <p>A snake clone that doesn't want you getting many points.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'Haxe', 'project': 'bastardsnake' } %}

  <a class="anchor" id="nfsnapi-python"></a>
  <h2>nfsnapi-python (2013)</h2>
  <p>A simple Python package that makes using the NearlyFreeSpeech.NET API a little easier.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'Python', 'project': 'nfsnapi-python' } %}

  <a class="anchor" id="obtaincornhoop"></a>
  <h2>obtaincornhoop (2013)</h2>
  <p>The retired theme for my Tumblr-powered weblog, written in Haml and Sass.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'CSS', 'project': 'obtaincornhoop' } %}

  <a class="anchor" id="robotinaponcho"></a>
  <h2>robotinaponcho (2013)</h2>
  <p>The source code to my personal website.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'HTML', 'project': 'robotinaponcho' } %}

  <a class="anchor" id="brainfuck"></a>
  <h2>brainfuck (2012)</h2>
  <p>A simple brainfuck interpreter written in C.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'C', 'project': 'brainfuck' } %}

  <a class="anchor" id="toolbox"></a>
  <h2>toolbox (2012)</h2>
  <p>Miscellaneous bits and pieces.</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'Perl', 'project': 'toolbox' } %}

  <a class="anchor" id="knr-solutions"></a>
  <h2>knr-solutions (2011)</h2>
  <p>My solutions to the exercises in The C Programming Language (Second Edition).</p>
  {% include 'git/.metadata.html.twig' with { 'nerd_list': 'C', 'project': 'knr-solutions' } %}
{% endblock %}
