{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = "View a bunch of Damien Dart's open-source stuff." | smartypants %}
{% set slug = 'git/' %}
{% set title = "Open-source Stuff" %}

{% block preamble %}
    <?php
        $repositories = require
            __DIR__ . '/../../protected/controllers/git/index.php';
    ?>
{% endblock %}

{% block content %}
    <h1>Open-source Stuff</h1>
    <p>Here are some things I’ve written.</p>

    <a class="anchor" id="toolbox-sass"></a>
    <h2>toolbox-sass (2019)</h2>
    <p>A hodgepodge of web-development-related stuff.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'JavaScript and Sass', 'project': 'toolbox-sass' } %}

    <a class="anchor" id="setup"></a>
    <h2>setup (2018)</h2>
    <p>A mess of Ansible playbooks and roles that I use to provision and
        maintain my personal development environment and a couple of
        servers that I host this and a few other small websites on.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'Ansible', 'project': 'setup' } %}

    <a class="anchor" id="flippywindow"></a>
    <h2>FlippyWindow (2016)</h2>
    <p>FlippyWindow is a simple Windows application that
        non-destructively flips any part of your screen horizontally. To
        find out more, check out <a href="/flippywindow/">the FlippyWindow website</a>.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'C++', 'project': 'flippywindow' } %}

    <a class="anchor" id="bastardsnake"></a>
    <h2>Bastard Snake (2013)</h2>
    <p>A snake clone that doesn’t want you getting many points.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'Haxe', 'project': 'bastardsnake' } %}

    <a class="anchor" id="robotinaponcho"></a>
    <h2>robotinaponcho (2013)</h2>
    <p>The source code to my personal website.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'JavaScript, HTML/Twig, and Sass', 'project': 'robotinaponcho' } %}

    <a class="anchor" id="brainfuck"></a>
    <h2>brainfuck (2012)</h2>
    <p>A simple brainfuck interpreter written in C.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'C', 'project': 'brainfuck' } %}

    <a class="anchor" id="toolbox"></a>
    <h2>toolbox (2012)</h2>
    <p>This repository is where any convenience and helper scripts that
        don’t warrant their own repository end up.</p>
    {% include '.templates/project-metadata.php.twig' with { 'nerd_list': 'Perl and Shell', 'project': 'toolbox' } %}

    <h2>Miscellaneous things</h2>
    <ul>
        <li>I’ve contributed a <a href="https://github.com/kangax/html-minifier/pulls?q=is%3Apr+is%3Aclosed+author%3Adamiendart">couple</a>
            of CLI bug-fixes to <a href="https://github.com/kangax/html-minifier">HTMLMinifier</a>,
            a JavaScript-based HTML minifier.</li>
    </ul>

    <a class="anchor" id="nfsnapi-python"></a>
    <a class="anchor" id="notes"></a>
    <a class="anchor" id="obtaincornhoop"></a>
    <a class="anchor" id="knr-solutions"></a>
    <h2>Abandoned and deprecated projects</h2>
    <p>The following projects are no longer being worked on:</p>
    <ul>
        <li><a href="https://github.com/damiendart/notes">notes</a>:
            Notes on stuff. These notes have since been merged into <a
            href="#robotinaponcho">my personal website repository</a>,
            where I continue to update them.</li>
        <li><a href="https://github.com/damiendart/nfsnapi-python">nfsnapi-python</a>:
            When I used NearlyFreeSpeech.NET to host websites, I wrote a
            simple Python package that made using their API a little
            easier.</li>
        <li><a href="https://github.com/damiendart/obtaincornhoop">obtaincornhoop</a>:
            I once had a Tumblr weblog; this was the custom theme I made
            for it.</li>
        <li><a href="https://github.com/damiendart/knr-solutions">knr-solutions</a>:
            My incomplete set of solutions to the exercises in <i>The C
            Programming Language (Second Edition)</i>.</li>
    </ul>
{% endblock %}
