-#
  ---
  # "pages/flippywindow/index.haml" for Damien Dart's personal website.
  #
  # Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
  # This file is distributed under the MIT licence. For more
  # information, please refer to the accompanying "LICENCE" file.

  description: Download FlippyWindow, a simple Windows application that non-destructively flips any part of your screen.
  social_image: flippywindow/opengraph.png
  title: FlippyWindow
  ---

.flippywindow-introduction
  %h1.flippywindow-introduction__title FlippyWindow
  %p.flippywindow-introduction__blurb FlippyWindow is a simple Windows application that non-destructively flips any part of your screen, in real-time and using minimal resources.
  .flippywindow-introduction__screenshot-with-arrow
    %img{:alt => "A screenshot of FlippyWindow over Adobe Photoshop.", :src => "https://www.robotinaponcho.net/flippywindow/screenshot.png", :title => "A screenshot of FlippyWindow over Adobe Photoshop."}
  %p.flippywindow-introduction__blurb.flippywindow-introduction__blurb--more Flipping images (or viewing things with a mirror) is a technique used to <a href="http://yourfirstproduct.com/info/bmreverse">help view things with "fresh eyes"</a> which can aid with <a href="http://www.comic-tools.com/2008/10/my-mirror-is-most-important.html">spotting visual issues</a>.
.download
  %h2.download__button
    %a.download__button__link#itch{:href => "https://damiendart.itch.io/flippywindow"} Download<span class="collapsable"> FlippyWindow</span> from <img alt="itch.io" src="https://www.robotinaponcho.net/assets/itchio.svg" title="itch.io">
  %ul.download__information-list
    %li.download__information-list__item
      %strong It's free! Requires Windows 8 or later.
    %li.download__information-list__item Nothing to install: just unzip and run<span class="collapsable"> the executable</a></span>.
    %li.download__information-list__item FlippyWindow is <a href="https://www.robotinaponcho.net/git/#flippywindow">open-source</a> (<span class="collapsable">and </span><a href="https://github.com/damiendart/flippywindow"><span class="collapsable">on </span>GitHub</a>).
:markdown
  #{read_source_file("flippywindow/_index.markdown")}
