{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set pageDescription = 'Download FlippyWindow, a simple Windows application that non-destructively flips any part of your screen.' %}
{% set pageSlug = 'flippywindow/' %}
{% set pageTitle = 'FlippyWindow' %}
{% set pageOpenGraphImage = 'flippywindow/opengraph.png' %}

{% block pageContent %}
    <div class="flippywindow-introduction">
        <h1 class="flippywindow-introduction__title">FlippyWindow</h1>
        <p class="flippywindow-introduction__blurb">FlippyWindow is a
            simple Windows application that non-destructively flips any
            part of your screen, in real-time and using minimal resources.</p>
        <div class="flippywindow-introduction__screenshot-with-arrow">
            <img
                alt="A screenshot of FlippyWindow over Adobe Photoshop."
                height="557"
                src="/flippywindow/screenshot.png"
                title="A screenshot of FlippyWindow over Adobe Photoshop."
                width="776"
            >
        </div>
        <p class="flippywindow-introduction__blurb flippywindow-introduction__blurb--more">
            Flipping images (or viewing things with a mirror) is a
            technique used to
            <a href="http://yourfirstproduct.com/info/bmreverse">help
            view things with “fresh eyes”</a> which can aid with
            <a href="http://www.comic-tools.com/2008/10/my-mirror-is-most-important.html">spotting
            visual issues</a>.</p>
    </div>

    <div class="download">
        <h2 class="download__link">
            <a class="button button--itchio" href="https://damiendart.itch.io/flippywindow">
                Download<span class="collapsible"> FlippyWindow</span>
                from <img alt="itch.io" src="/assets/itchio.svg" title="itch.io"></a>
        </h2>
        <ul class="download__information-list">
            <li class="download__information-list__item"><strong>It's
                free! Requires Windows 8 or later.</strong></li>
            <li class="download__information-list__item">Nothing to
                install: just unzip and run<span class="collapsible">
                the executable</span>.<li>
            <li class="download__information-list__item">FlippyWindow is
                <a href="https://www.robotinaponcho.net/git/#flippywindow">open-source</a>
                (<span class="collapsible">and
                </span><a href="https://github.com/damiendart/flippywindow"><span class="collapsible">on
                </span>GitHub</a>).</li>
        </ul>
    </div>
    {% apply markdown %}
        ## Frequently asked questions

        ### Can't I just use any image editor to do what FlippyWindow does?

        As far as I'm aware, [Adobe Photoshop CC 2019][1], [Clip Paint
        Studio][2], [Krita][3], and [PaintTool SAI][4] have features that
        allow you to non-destructively change how you view an image. I built
        FlippyWindow because I use Adobe's [Creative Cloud suite][4] which at
        the time lacked such features.

        [1]: <https://www.adobe.com/products/photoshop.html>
        [2]: <http://www.clipstudio.net/>
        [3]: <https://krita.org/>
        [4]: <https://www.systemax.jp/en/sai/>
        [5]: <https://www.adobe.com/creativecloud.html>

        FlippyWindow can also help you spot visual issues in work outside of
        image editors, including animations, application user interfaces, and
        website designs.

        ### What is itch.io?

        [itch.io][6] describes itself as "an open marketplace for independent
        digital creators". It allows me to offer FlippyWindow with
        pay-what-you-want pricing.

        If you want to support future development of FlippyWindow--[I have a
        few things planned][7]--and anything else I make, please consider
        naming your price before downloading. This is completely optional; you
        can download FlippyWindow without paying or signing up to anything.

        [6]: <https://itch.io/>
        [7]: <https://github.com/damiendart/flippywindow/blob/master/TODO>

        ### Will earlier versions of Windows, Linux and macOS be supported?

        FlippyWindow uses APIs (specifically the second release of the
        Magnification API) that were introduced in Windows 8. At the moment
        there are no plans to rewrite FlippyWindow to support earlier versions
        of Windows and other operating systems.

        ## Changelog

        ### Version 1.0.0 (01/04/2018)

          - Initial release.
    {% endapply %}
    {%
        include '.templates/share.html.twig' with {
            'link': 'https://www.robotinaponcho.net/' ~ pageSlug,
            'twitterText': 'Download FlippyWindow, by @damiendart, a simple Windows application that non-destructively flips any part of your screen.'
        }
    %}
{% endblock %}
