# ".htaccess" for Damien Dart's personal website.
#
# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

AddDefaultCharset utf-8
DirectoryIndex gitweb.cgi index.cgi index.html
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 410 /410.html
FileETag none
Options -Indexes -MultiViews
ServerSignature off
SetEnv TZ Europe/London

<IfModule mod_alias.c>
  Redirect gone /demons_souls_theodore.jpg
  Redirect gone /assets/animate.min.css
  Redirect gone /assets/drawings-on-tumblr-background.png
  Redirect gone /assets/html5shiv.js
  Redirect gone /crap/blog-header.png
  Redirect gone /crap/thingy.swf
  Redirect 301 /obtaincornhoop/style.css /assets/blog-style.css
  Redirect 301 /obtaincornhoop/page-background.png /assets/blog-background.png
  RedirectMatch gone /(deadlypremonition|robotinaponcho)\.jpeg$
  RedirectMatch gone /assets/blog-(background.png|style\.css)$
  RedirectMatch gone /assets/foc-(footer|header)\.html$
  RedirectMatch gone /assets/glyphiconshalflings-regular\.(eot|otf|svg|ttf|woff)$
  RedirectMatch gone /assets/(jquery-1\.11\.3|moment|selectnav|spin)\.min\.js$
  RedirectMatch gone /assets/(kathryn|obtaincornhoop|radicalapps)(@2x)?\.png$
  RedirectMatch gone /assets/site-header(@2x)?\.png$
  RedirectMatch gone /crap/blog-background2?\.gif$
  RedirectMatch gone /crap/blog-(date|source|tags)-icon\.png$
  RedirectMatch 301 /assets/jquery-1\.10\.1\.min\.js$ /assets/jquery-1\.11\.3\.min\.js
  RedirectMatch 301 /(crap|obtaincornhoop)/glyphiconshalflings-regular\.(eot|otf|svg|ttf|woff)$ \
      /assets/glyphiconshalflings-regular\.$2
  RedirectMatch 301 /obtaincornhoop/(html5shiv|selectnav\.min)\.js$ /assets/$1\.js
</IfModule>

# Custom expire headers for better cache control. For more information, see
# <https://github.com/h5bp/html5-boilerplate/blob/master/.htaccess#L433>.
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 week"
  ExpiresByType application/xhtml+xml "access plus 0 seconds"
  ExpiresByType text/html "access plus 0 seconds"
  ExpiresByType text/plain "access plus 0 seconds"
</IfModule>

<IfModule mod_headers.c>
  Header set Strict-Transport-Security "max-age=15552000;includeSubDomains" "expr=%{req_novary:X-Forwarded-Proto}=='https'"
</IfModule>

<IfModule mod_mime.c>
  # Force UTF-8 encoding for other file formats.
  AddCharset utf-8 .css .js
  AddHandler cgi-script .git
  AddType application/javascript js
  AddType application/vnd.ms-fontobject eot
  AddType application/x-font-ttf ttc ttf
  AddType application/x-font-woff woff
  AddType application/x-shockwave-flash swf
  AddType font/opentype otf
  AddType image/x-icon ico
  AddType text/x-c c
  AddType text/x-diff patch
  AddType text/x-python py
  AddType text/x-shellscript sh
  <IfModule mod_headers.c>
    # Remove unneccesary ETags; setting "FileETag None" is not enough. For more
    # information, see <http://developer.yahoo.com/performance/rules.html#etags>.
    Header unset ETag
  </IfModule>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  # Remove "gitweb.cgi", "index.cgi", and "index.html" from URLs.
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteCond %{THE_REQUEST} ^.*/(gitweb\.cgi|index\.(cgi|html|html\.compressed))
  RewriteRule ^(.*)(gitweb\.cgi|index\.(cgi|html|html\.compressed))$ https://www.robotinaponcho.net/$1 [L,NE,R=permanent]
  # Remove query strings from URLs.
  RewriteCond %{QUERY_STRING} !=""
  RewriteCond %{REQUEST_URI} !^/git/
  RewriteRule ^(.*)$ https://www.robotinaponcho.net/$1? [R=permanent,L]
  # Git web interface stuff.
  RewriteCond %{REQUEST_URI} ^.*git/[a-zA-Z0-9\.\-_]*\.git/?$
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^.*git/([a-zA-Z0-9\.\-_]*\.git)/?$ https://www.robotinaponcho.net/git/?p=$1 [L,NE,R=permanent]
  RewriteRule ^.*git/([a-zA-Z0-9\.\-_]*\.git)/ - [E=GIT_PROJECT_ROOT:/home/protected/git/$1,L]
  # Remove action parameter when unnecessary.
  RewriteCond %{QUERY_STRING} ^(.*);a=summary(.*)$ [OR]
  RewriteCond %{QUERY_STRING} ^(.*)a=project_list(.*)$
  RewriteRule ^(.*)$ https://www.robotinaponcho.net/$1?%1%2 [L,NE,R=permanent]
</IfModule>
