{#---
    # Copyright (C) Damien Dart, <damiendart@pobox.com>.
    # This file is distributed under the MIT licence. For more
    # information, please refer to the accompanying "LICENCE" file.

    title: 'The Folder of Crap'
---#}

{% extends '.templates/base.html.twig' %}

{% block content %}
    <p>This is the home of random things that I want to publish that
        don't warrant their own separate pages.</p>
    <h2>Colouring pages</h2>
    <p>During a <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">lengthy
        period of staying at home</a>, I started drawing some colouring
        pages with the idea of turning it into a regularly-updated
        thing. I lost interest after five pages. The colouring pages are
        free and available under CC BY 4.0, so feel free to do whatever
        you want with them.</p>
    <ul>
        <li><a href="colouring-pages-a4.pdf">Download an A4-sized PDF</a></li>
        <li><a href="colouring-pages-us.pdf">Download an US-letter-sized PDF</a></li>
    </ul>
{% endblock %}
