{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '../.base.html.twig' %}

{% set pageSlug = 'notes/computer' %}
{% set pageTitle = "Computer Notes" %}

{% block pageDescription 'Damien Dart’s notes on computer-related stuff.' %}

{% block pageContent %}
  <h1>Computer Notes</h1>

  <div class="admonition admonition--metadata">
    <ul class="metadata-list">
      <li class="metadata-list__item"><b>Last Updated</b>:
        <a data-timestamp="{{ inputFile.git.timestamp.getTime }}"
        href="https://github.com/damiendart/robotinaponcho/commit/{{ inputFile.git.hash }}">
        {{ inputFile.git.timestamp.getTime | date('d/m/Y') }}</a></li>
      <li class="metadata-list__item"><b>Licence</b>:
        <a href="http://creativecommons.org/licenses/by/4.0/">Creative
        Commons Attribution 4.0 International License</a></li>
    </ul>
  </div>

  {% apply markdown %}
    Setting up an Windows 10 install
    --------------------------------

      - Applications I install:
        - [1Password][3];
        - [Creative Cloud][4] for Bridge, Photoshop, and Illustrator;
        - [DynamicSketch][5], to make drawing in Illustrator less crap;
        - [Lazy Nezemi Pro][6], to make drawing in Photoshop less crap;
        - [VirtualBox][7] (see also: [my Ansible gubbins][8]);
        - [Spotify][9];
        - [Chrome][10] along the with [1Password][11] and [Reddit Enhancement
          Suite][11] extensions;
        - [Firefox][13] for testing web stuff;
        - [Steam][14] and;
        - [Visual Studio 15][15].
      - Applications I put in a _bin_ folder in my user profile folder:
        [FlippyWindow][16], [gVim][17], [ngrok][18], and [PuTTY][19].
      - Applications I don't need or use anymore:
        - [f.lux][20], as there's a similar built-in feature called Night
          Light that appeared with the Creators Update;
        - [Geforce Experience][21]; and
        - [VueScan][22].
      - Drivers I manually install:
        - [GeForce Game Ready 388.13 WHQL drivers][23]: no issues so far.

    [3]: <https://1password.com/>
    [4]: <http://www.adobe.com/uk/>
    [5]: <https://astutegraphics.com/software/dynamicsketch/>
    [6]: <https://lazynezumi.com/>
    [7]: <https://www.virtualbox.org/>
    [8]: <https://www.robotinaponcho.net/git/#setup>
    [9]: <https://www.spotify.com/uk/>
    [10]: <https://www.google.com/chrome/>
    [11]: <https://agilebits.com/onepassword/extensions>
    [12]: <https://redditenhancementsuite.com/>
    [13]: <https://www.mozilla.org/en-GB/firefox/new/>
    [14]: <http://store.steampowered.com/>
    [15]: <https://www.visualstudio.com/>
    [16]: <https://www.robotinaponcho.net/flippywindow/>
    [17]: <https://vim.sourceforge.io/>
    [18]: <https://ngrok.com/>
    [19]: <http://www.chiark.greenend.org.uk/~sgtatham/putty/>
    [20]: <https://justgetflux.com/>
    [21]: <https://www.nvidia.co.uk/geforce/geforce-experience/>
    [22]: <https://www.hamrick.com/>
    [23]: <https://www.geforce.com/drivers>
  {% endapply %}
{% endblock %}
