{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.base.html.twig' %}

{% set pageSlug = 'notes/illustrator' %}
{% set pageTitle = 'Adobe Illustrator Notes' %}

{% block pageDescription 'Damien Dart’s notes on Adobe Illustrator' %}

{% block pageContent %}
  <h1>Adobe Illustrator Notes</h1>

  <div class="admonition admonition--metadata">
    <ul class="metadata-list">
      <li class="metadata-list__item"><b>Last Updated</b>:
        <a data-timestamp="{{ inputFile.git.timestamp.getTime }}"
        href="https://github.com/damiendart/robotinaponcho/commit/{{ inputFile.git.hash }}">
        {{ inputFile.git.timestamp.getTime | date('d/m/Y') }}</a></li>
      <li class="metadata-list__item"><b>Licence</b>:
        <a href="http://creativecommons.org/licenses/by/4.0/">Creative
        Commons Attribution 4.0 International License</a></li>
    </ul>
  </div>

  {% apply markdown %}
    Miscellaneous notes
    -------------------

      - Check the document colour mode is set correctly.
      - Occasionally run the _Delete Unused Panel Items_ action (located in
        the _Default Actions_ folder) to keep document filesizes in check.
  {% endapply %}
{% endblock %}
