{#
    Copyright (C) 2020 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% set description = "View Damien Dart's notes on stuff." | smartypants %}
{% set slug = 'notes/' %}
{% set title = 'Notes' %}

{% block content %}
    <h1>Notes</h1>
    <div class="notes-list">
        <ul class="notes-list__list">
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/illustrator"><h2>Adobe Illustrator</h2></a>
            </li>
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/indesign"><h2>Adobe InDesign</h2></a>
            </li>
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/photoshop"><h2>Adobe Photoshop</h2></a>
            </li>
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/computer"><h2>Microsoft Windows</h2></a>
            </li>
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/phpstorm"><h2>PhpStorm</h2></a>
            </li>
            <li class="notes-list__list__item">
                <a class="sheet-of-paper" href="/notes/synology"><h2>Synology DiskStation</h2></a>
            </li>
        </ul>
    </div>
{% endblock %}
