<IfModule mod_autoindex.c>
  HeaderName header.html
  IndexIgnore .. .htaccess header.html footer.html
  IndexOptions Charset=utf-8 HTMLTable NameWidth=*
  IndexOptions SuppressDescription SuppressHTMLPreamble SuppressIcon SuppressRules
  Options +Indexes
  ReadmeName footer.html
</IfModule>
