<IfModule mod_autoindex.c>
  HeaderName /assets/header.html
  IndexIgnore .. .htaccess
  IndexOptions Charset=utf-8 HTMLTable NameWidth=*
  IndexOptions SuppressDescription SuppressHTMLPreamble SuppressIcon SuppressRules
  Options +Indexes
  ReadmeName /assets/footer.html
</IfModule>
