-#
  ---
  file_comment: |
    "pages/art/index.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  dependencies: pages/art/index.json
  layout: base
  page_description: View Damien Dart's artwork and illustrations.
  page_title: Damien Dart's Art and Illustration
  scss: pages/art/index.scss
  ---


- require "json"
- instagram = JSON.load(open("pages/art/index.json"))
- keywords = %w(art doodle drawing doodle illustration watercolour)


.markdown
  :markdown
    # Art and Illustration


    Until I get round to setting up an actual gallery, here is some stuff
    I've posted on [Instagram][1].

    [1]: <https://instagram.com/damiendart>
.gallery
  - instagram["user"]["media"]["nodes"].select{ |i| keywords.any?{ |s| i["caption"].include?(s) } }.take(12).each do |item|
    %article.gallery__item
      %a.gallery__item__link{:href => "https://www.instagram.com/p/#{item['code']}"}
        %img.gallery__item__image{:alt => item["caption"], :src => item["display_src"], :title => item["caption"]}
