-#
  ---
  file_comment: |
    "art.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  css_external:
    - https://use.typekit.net/rvl0fuw.css
    - https://www.robotinaponcho.net/assets/style.css
  description: View Damien Dart's artwork and illustrations.
  title: Damien Dart's Art
  ---


%h1.title Damien's Art
%p.blurb Until I get round to setting up an actual gallery, have a look at some stuff I've posted on <a href="https://instagram.com/damiendart">Instagram</a>.
%footer.footer
  %hr.footer__rule
  %p.footer__copyright Copyright &copy; 2018 Damien Dart.
  %a.footer__link{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
