-#
  ---
  file_comment: |
    "art.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  layout: base
  page_description: View Damien Dart's artwork and illustrations.
  page_scss: art/index.scss
  page_slug: "art/"
  page_title: Damien Dart's Art
  ---


- require "open-uri"
- require "json"
- instagram = JSON.load(open("https://www.instagram.com/damiendart/?__a=1"))


.markdown
  :markdown
    # Damien's Art

    Until I get round to setting up an actual gallery, here is some stuff
    I've posted on [Instagram][1] and [Twitter][2].

    [1]: <https://instagram.com/damiendart>
    [2]: <https://twitter.com/damiendart>
.gallery
  - instagram["user"]["media"]["nodes"].each do |item|
    %article.gallery__item
      %img.gallery__item__image{:alt => item["caption"], :src => item["display_src"], :title => item["caption"]}
      %a.gallery__item__link{:href => "https://www.instagram.com/p/#{item['code']}"}
        %img{:class => "gallery__item__link__icon", :src => "/assets/instagram.svg"}
