-#
  ---
  file_comment: |
    "art.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
  description: View Damien Dart's artwork and illustrations.
  scss: pages/art/index.scss
  title: Damien Dart's Art
  ---


- require "open-uri"
- require "json"
- instagram = JSON.load(open("https://www.instagram.com/damiendart/?__a=1"))
- keywords = %w(art doodle drawing doodle illustration watercolour)


%h1.title Damien's Art
%p.blurb Until I get round to setting up an actual gallery, here is some stuff I've posted on <a href="https://instagram.com/damiendart">Instagram</a>.
.gallery
  - instagram["graphql"]["user"]["edge_owner_to_timeline_media"]["edges"].select{ |i| keywords.any?{ |s| i["node"]["edge_media_to_caption"]["edges"][0]["node"]["text"].include?(s) } }.take(12).each do |item|
    %article.gallery__item
      %a.gallery__item__link{:href => "https://www.instagram.com/p/#{item["node"]["shortcode"]}"}
        %img.gallery__item__image{:alt => item["node"]["edge_media_to_caption"]["edges"][0]["node"]["text"], :src => item["node"]["thumbnail_resources"][-1]["src"], :title => item["node"]["edge_media_to_caption"]["edges"][0]["node"]["text"]}
%footer.footer
  %hr.footer__rule
  %a.footer__link{:href => "https://www.robotinaponcho.net/"} www.robotinaponcho.net
