{#
    Copyright (C) Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '_templates/base.html.twig' %}

{% set metaOpengraphImage = site.urlOrigin ~ '/projects/flippywindow/opengraph.' ~ site.releaseTimestamp ~ '.png' %}

{% block content %}
    <p class="u-text-size-md">FlippyWindow is a simple Windows application that non-destructively flips any part of your screen, in real-time, and using minimal resources.</p>
    <img
        alt="A screenshot of FlippyWindow over Adobe Photoshop."
        class="u-content__wide"
        fetchpriority="high"
        height="557"
        src="/projects/flippywindow/screenshot.{{ site.releaseTimestamp }}.png"
        title="A screenshot of FlippyWindow over Adobe Photoshop."
        width="776"
    >
    <p>Flipping images (or viewing things
        with a mirror) is a technique used to
        <a href="http://yourfirstproduct.com/info/bmreverse">help
        view things with “fresh eyes”</a> which can aid with
        <a href="http://www.comic-tools.com/2008/10/my-mirror-is-most-important.html">spotting
        visual issues</a>.</p>

    <div class="u-stack u-stack__xl">
        <h2 class="u-text-centered">
            <a class="call-to-action-link" href="https://www.robotinaponcho.net/projects/flippywindow/flippywindow-64-bit.zip">Download FlippyWindow&nbsp;1.0.0</a>
        </h2>
        <ul class="u-text-centered">
            <li><strong>It's free! Requires&nbsp;Windows&nbsp;8&nbsp;or&nbsp;later.</strong></li>
            <li>Nothing to install: just&nbsp;unzip&nbsp;and&nbsp;run.</li>
            <li>FlippyWindow is <a href="#open-source">open-source</a>.</li>
        </ul>
    </div>

    {{ content | raw }}

    {%
        include '_templates/partials/sharing-links.html.twig' with {
            'link': site.urlOrigin ~ '/' ~ urlPath,
            'twitterAuthor': site.metaTwitterAuthor | replace({ '@': '' }),
            'twitterText': 'Download FlippyWindow, by @damiendart, a simple Windows application that non-destructively flips any part of your screen.'
        }
    %}
{% endblock %}
