@import "bourbon";

$base-background-colour: #ffffff;
$base-font-size: 16px;
$base-foreground-colour: #444444;
$base-line-height: 24px;
$base-layout-unit: $base-line-height;
$content-width: 500px;

a {
  color: $base-foreground-colour;
  &:active, &:focus, &:hover, &:visited:hover {
    background-color: $base-foreground-colour;
    color: $base-background-colour; }
  &:visited {
    background-colour: $base-background-colour;
    color: $base-foreground-colour; } }

body {
  background-color: $base-background-colour;
  color: $base-foreground-colour;
  // Setting the font size initially to 100% avoids the Internet Explorer 6
  // and Internet Explorer 7 exaggerated text-resizing bug (see
  // <http://alistapart.com/article/howtosizetextincss#section5>).
  font: 100%/1.5 "Helvetica Neue", "Helvetica", Arial, sans-serif;
  @if ($base-font-size != 16px) {
    font-size: percentage($base-font-size / 16px); }
  -webkit-font-smoothing: antialiasing;
  margin: 0;
  // Internet Explorer 6 hates us and doesn't center block elements with just
  // "margin-left: auto; margin-right: auto" alone.
  text-align: center;
  -webkit-text-size-adjust: 100%;
  @media screen and (max-width: em($content-width, $base-font-size)) {
    font-size: percentage(($base-font-size * 0.875) / $base-font-size); } }

/* div */.container {
  margin: em($base-layout-unit * 3, $base-font-size) auto;
  max-width: em($content-width, $base-font-size);
  text-align: left;
  @media screen and (max-width: em($content-width, $base-font-size)) {
    margin: 0;
    max-width: 100%;
    padding: em($base-layout-unit, $base-font-size); } }

/* h1 */.page-header {
  $font-size: 72px;
  font-size: percentage($font-size / $base-font-size);
  font-weight: normal;
  line-height: em($font-size, $font-size);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: em($content-width, $base-font-size)) {
    $font-size: 48px;
    font-size: percentage($font-size / $base-font-size);
    line-height: em($font-size, $font-size); } }

/* div */.blurb {
  // We have no control over Markdown-generated markup.
  p {
    margin: em($base-layout-unit / 2, $base-font-size) 0 0 0; } }

/* div */.file-list {
  // We have no control over the Apache-generated file-list markup.
  table {
    border-collapse: collapse;
    margin: em($base-layout-unit / 2, $base-font-size) 0 0 0;
    width: 100%;
    tr {
      td, th {
        padding: 0 0 0 em($base-layout-unit / 2, $base-font-size);
        text-align: right;
        &:first-child {
          padding: 0;
          text-align: left; }
        @media screen and (max-width: em($content-width, $base-font-size)) {
          &:nth-child(2) {
            display: none; } } }
      th {
        font-weight: bold;
        text-transform: uppercase;
        a {
          text-decoration: none; } } } } }
