<div class="cta-sharing">
    <hr class="cta-sharing__rule">
    <p class="cta-sharing__heading">Share this page:</p>
    {%
        include '@toolbox-sass/social-share-list.twig' with {
            'classNameRoot': 'social-media-list',
            'link': link,
            'twitterText': twitterText
        }
    %}
</div>
