@use "../functions";
@use "../variables";

.dialog {
  animation: opening 0.35s both;
  animation-timing-function: cubic-bezier(0.8, 0, 0, 0.8);
  background: var(--base-background);
  border: none;
  border-radius: variables.$base-line-height * 0.25;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: var(--base-foreground);
  max-height: calc(100vh - #{variables.$base-line-height * 2});
  max-width: min(calc(100vw - #{variables.$base-line-height}), #{functions.px-to-rem(500px)});
  padding: variables.$base-line-height;
  text-align: left;
  width: 100%;

  @keyframes opening {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }

  &[open] {
    box-shadow: 0 0 0 100vw var(--dialog-backdrop-background);
  }

  &::backdrop {
    // The "::backdrop" pseudo-element cannot be reliably animated.
    // Instead, we use the dialog's "box-shadow" property to emulate the
    // backdrop, allowing us to animate it.
    display: none;
  }

  &__body {
    overflow: auto;
  }

  &__footer.u-cluster {
    --cluster-justify-content: flex-end;
  }

  &__header.u-cluster {
    --cluster-flex-direction: row-reverse;
    --cluster-justify-content: space-between;

    .button {
      height: variables.$base-line-height * 1.125;
      padding: 0;
      width: variables.$base-line-height * 1.125;

      &::after {
        background: currentColor;
        content: "";
        display: inline-block;
        height: 100%;
        mask-image: functions.cache-bust-url("icon-menu-close.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: variables.$base-line-height * 0.75;
        width: 100%;
      }
    }
  }
}
