@use "../functions";
@use "../variables";

.dialog {
  animation: opening 0.35s both;
  animation-timing-function: cubic-bezier(0.8, 0, 0, 0.8);
  background: var(--base-background);
  border: none;
  border-radius: variables.$base-line-height * 0.25;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  color: var(--base-foreground);
  max-height: calc(100vh - #{variables.$base-line-height * 2});
  max-width: min(calc(100vw - #{variables.$base-line-height}), #{functions.px-to-rem(500px)});
  padding: 0;
  text-align: left;
  width: 100%;

  @keyframes opening {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }

  &[open] {
    box-shadow: 0 0 0 100vw var(--dialog-backdrop-background);
  }

  &::backdrop {
    // The "::backdrop" pseudo-element cannot be reliably animated.
    // Instead, we use the dialog's "box-shadow" property to emulate the
    // backdrop, allowing us to animate it.
    display: none;
  }

  &__body {
    padding: variables.$base-line-height;
    overflow: auto;
  }


  &__footer {
    display: flex;
    justify-content: space-between;
    padding: variables.$base-line-height;
    position: relative;

    &::before {
      background: var(--base-highlight);
      content: "";
      display: block;
      height: functions.px-to-rem(2px);
      left: 0;
      position: absolute;
      top: functions.px-to-rem(-1px);
      width: 100%;
    }
  }

  &__header {
    align-items: center;
    background: var(--site-header-background);
    color: var(--site-header-foreground);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    padding: (variables.$base-line-height * 0.5) (variables.$base-line-height * 0.75);
    text-align: left;

    &__close {
      appearance: none;
      background: none;
      border: none;
      color: inherit;
      height: variables.$base-line-height * 1.125;
      outline-offset: functions.px-to-rem(2px);
      padding: 0;
      position: relative;
      width: variables.$base-line-height * 1.125;

      &::after {
        background: currentColor;
        content: "";
        display: inline-block;
        height: 100%;
        mask-image: functions.cache-bust-url("icon-menu-close.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: variables.$base-line-height * 0.75;
        width: 100%;
      }
    }
  }
}
