@use "sass:math";
@use "../functions";
@use "../variables";

site-preferences-dialog {
  display: inline-block;
  vertical-align: text-bottom;

  #open-preferences-dialog {
    appearance: none;
    border: none;
    background: none;
    color: var(--base-link);
    cursor: pointer;
    display: flex;
    font: inherit;
    font-weight: bold;
    gap: variables.$base-line-height * 0.125;
    line-height: initial;
    margin: auto;
    padding: 0;

    &:active,
    &:focus,
    &:focus-visible,
    &:hover {
      text-decoration-line: underline;
    }

    &::before {
      background: currentColor;
      content: "";
      display: inline-block;
      height: variables.$base-line-height * 0.65;
      margin: auto;
      mask: functions.cache-bust-url("icon-settings.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100%;
      width: variables.$base-line-height * 0.65;
    }
  }
}

