@use "sass:math";
@use "../variables";

.site-header {
  box-sizing: border-box;
  color: inherit;
  padding: variables.$base-line-height;
  position: relative;

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }


  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: variables.$container-width-wider;
    width: 100%;

    &::before {
      content: "";
      flex-grow: 666;
      flex-basis: calc((#{variables.$container-width-wider * 0.75} - 100%) * 666);
      height: math.div(variables.$base-line-height, 4);
    }

    & > * {
      flex-grow: 1;
    }
  }

  &__navigation {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      margin: 0;

      &__item {
        position: relative;

        &:not(:first-child) {
          margin: 0 0 0 variables.$base-line-height;
        }

        &--active {
          &::after {
            $diameter: variables.$base-one-pixel-in-rem * 8;

            background: currentColor;
            border-radius: math.div($diameter, 2);
            bottom: math.div(variables.$base-line-height, -2) - math.div($diameter, 2);
            content: "";
            display: block;
            height: $diameter;
            left: calc(50% - #{math.div($diameter, 2)});
            position: absolute;
            width: $diameter;
          }
        }
      }
    }
  }

  &__title {
    font-size: 112.5%;
    order: -1;
    text-align: center;
  }
}
