@use "sass:math";
@use "../functions";
@use "../variables";

site-preferences-dialog {
  display: contents;

  #open-preferences-dialog.button {
    display: flex;
    gap: variables.$base-line-height * 0.125;
    margin: 0 math.div(variables.$base-line-height, -4);
    padding: 0 math.div(variables.$base-line-height, 4);

    &::before {
      background: currentColor;
      content: "";
      display: inline-block;
      height: variables.$base-line-height * 0.65;
      margin: auto;
      mask: functions.cache-bust-url("icon-settings.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100%;
      width: variables.$base-line-height * 0.65;
    }
  }

  &:has(dialog[open]) {
    #open-preferences-dialog {
      background: var(--button-background-active);
      color: var(--button-foreground);
    }
  }
}

