@use "sass:math";
@use "../variables";

site-preferences-dialog {
  display: block;

  #open-preferences-dialog {
    all: unset;
    border: none;
    color: var(--base-link);
    cursor: pointer;
    display: compact;
    font: inherit;
    font-weight: bold;
    line-height: initial;
    padding: 0;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      outline-width: variables.$base-one-pixel-in-rem * 3;
      outline-style: solid;

      &:not(:focus-visible) {
        outline: none;
      }
    }
  }
}

