@use "sass:math";
@use "../variables";

site-preferences-dialog {
  display: inline-block;
  vertical-align: text-bottom;

  #open-preferences-dialog {
    all: unset;
    border: none;
    color: var(--base-link);
    cursor: pointer;
    display: flex;
    font: inherit;
    font-weight: bold;
    gap: variables.$base-line-height * 0.125;
    line-height: initial;
    padding: 0;
    margin: auto;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:focus {
      outline-width: variables.$base-one-pixel-in-rem * 3;
      outline-style: solid;

      &:not(:focus-visible) {
        outline: none;
      }
    }

    &::before {
      background: currentColor;
      content: "";
      display: inline-block;
      height: variables.$base-line-height * 0.65;
      margin: auto;
      mask: url("icon-settings.00000000000000.svg");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100%;
      width: variables.$base-line-height * 0.65;
    }
  }
}

