@use "sass:math";
@use "../variables";

.site-header {
  background: variables.$colour-red;
  background: var(--site-header-background);
  box-sizing: border-box;
  color: inherit;
  padding: variables.$base-line-height;
  position: relative;

  a {
    color: variables.$colour-white;
    color: var(--site-header-foreground);
    font-weight: bold;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }


  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: variables.$container-width-wider;
    width: 100%;

    &::before {
      content: "";
      flex-grow: 666;
      flex-basis: calc((#{variables.$container-width-wider * 0.75} - 100%) * 666);
      height: math.div(variables.$base-line-height, 4);
    }

    & > * {
      flex-grow: 1;
    }
  }

  &__navigation {
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style: none;
      margin: 0;

      &__item {
        position: relative;

        &:not(:first-child) {
          margin: 0 0 0 variables.$base-line-height;
        }

        &--active {
          &::after {
            background: variables.$colour-white;
            background: var(--base-background);
            bottom: variables.$base-line-height * -1;
            content: "";
            display: block;
            height: variables.$base-one-pixel-in-rem * 8;;
            position: absolute;
            width: 100%;
          }
        }
      }
    }
  }

  &__title {
    order: -1;
    text-align: center;
  }
}
