-#
  ---
  file_comment: |
    "index.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  dependencies: public/assets/index-vendor.js
  javascript: pages/index.js
  layout: base
  page_description: Visit the personal website of Damien Dart, a front-end web developer and illustrator working in Dorset and Hampshire.
  page_title: Damien Dart's Personal Website
  scss: pages/index.scss
  ---


#robots
  %noscript Enable JavaScript for tumbling robots!
.markdown
  :markdown
    **Hello!** I'm Damien Dart, and this is my personal website.

    I'm a part-time (and [currently available][1]) front-end web developer
    working in Dorset and Hampshire. My résumé is available [on request][1].

    [1]: <mailto:damiendart@pobox.com>

    I make all kinds of computer-related nonsense and software as a hobby,
    most of which is available on this website and [on Github][2].

    [2]: <https://github.com/damiendart>

    I also occasionally [draw][3] and [make notes][4].

    [3]: <https://www.robotinaponcho.net/art/>
    [4]: <https://www.robotinaponcho.net/notes/>
