-#
  ---
  file_comment: |
    "index.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  layout: base
  page_description: Visit the homepage of Damien Dart, a part-time illustrator and web developer.
  page_scss: index.scss
  page_slug: ""
  page_no_header_line: true
  page_title: Damien Dart's Homepage
  rake_dependencies: public/assets/index-vendor.js
  ---


#robots
  %noscript Enable JavaScript for tumbling robots!
.markdown
  :markdown
    #{File.read("pages/index.markdown")}
%script= File.read("pages/index.js")
