-#
  ---
  file_comment: |
    "index.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  dependencies: public/assets/index-vendor.js
  layout: base
  page_description: Visit the homepage of Damien Dart, a part-time illustrator and web developer.
  page_javascript: index.js
  page_scss: index.scss
  page_title: Damien Dart's Homepage
  ---


#robots
  %noscript Enable JavaScript for tumbling robots!
.markdown
  :markdown
    ## What?

    Hello! I'm Damien Dart, and this is my personal site. I'm a part-time
    computer person, specialising in front-end web development, and
    illustrator.

    ## Websites I've built recently

      - [Steve Wadsworth][1]
      - [Kathryn Craigdaillie Designs][2]
      - [Radical Apps][3] (unmaintained)

    [1]: <https://www.stevewadsworth.co.uk/>
    [2]: <https://www.kathryncraigdaillie.co.uk/>
    [3]: <http://www.radicalapps.co.uk/>

    ## Other things

      - [My artwork and drawings][4]
      - [Open-source bits and pieces][5]
      - [Notes about stuff][6]

    [4]: </art/>
    [5]: </git/>
    [6]: </notes/>

    ## Elsewhere

      - [Email][7]
      - [GitHub][8]
      - [Instagram][9]
      - [Tumblr][10]
      - [Twitter][11]

    [7]: <mailto:damiendart@pobox.com>
    [8]: <https://github.com/damiendart>
    [9]: <https://instagram.com/damiendart>
    [10]: <http://blog.robotinaponcho.net/>
    [11]: <https://twitter.com/damiendart>
