-#
  ---
  file_comment: |
    "crap.haml" for Damien Dart's personal website.

    Copyright (C) 2013-2018 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more information,
    please refer to the accompanying "LICENCE" file.
  css_external:
    - https://use.typekit.net/rvl0fuw.css
    - https://www.robotinaponcho.net/assets/style.css
  dependencies: "%OUTPUT_DIRECTORY%/assets/style.css"
  no_social: true;
  title: "&#x1f937"
  ---


%h1.error &#x1f937;
