-# Git Repositories markup for Damien Dart's personal website.
-#
-# Copyright (C) 2013-2016 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    %title <TMPL_VAR NAME="repository"> (Damien Dart's Git Repositories)
    :scss
      $action-list: true;
      #{File.read(File.join(File.dirname(__FILE__), "public", "crap", "_index.scss"))}
  %body
    .container
      %h1.page-header <TMPL_VAR NAME="repository">
      %p.blurb <TMPL_VAR NAME="description">
      %ul.action-list
        %li.action-list__item Browse with <a href="/git/gitweb.cgi?p=<TMPL_VAR NAME="repository">">Gitweb</a> or on <a href="<TMPL_VAR NAME="github_url">">GitHub</a>
        %li.action-list__item
          Git clone command:&nbsp;
          %input{:readonly => true, :value => "git clone http://www.robotinaponcho.net/git/<TMPL_VAR NAME=\"repository\">"}
        %li.action-list--item Last commit: <span data-timestamp="<TMPL_VAR NAME="timestamp">"><TMPL_VAR NAME="last_commit"></span> (<a href="/git/gitweb.cgi?p=<TMPL_VAR NAME="repository">;h=<TMPL_VAR NAME="hash_long">"><code><TMPL_VAR NAME="hash_short"></code></a>)
      %nav.navigation
        %a.navigation__link{:href => "\\git\\"} Damien Dart's Git Repositories 
        %br/
        %a.navigation__link{:href => "\\"} Damien Dart's Personal Site
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "crap", "_index.js")} -c -m`}
