-# Copyright (C) Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width", "name" => "viewport"}
    :javascript
      #{`uglifyjs #{File.join(File.dirname(__FILE__), "public", "_index.typekit.js")} -c -m`}
    :scss
      #{File.read(File.join(File.dirname(__FILE__), "public", "art", "_index.scss"))}
    %title Damien Dart's Artwork and Illustrations
  %body
    .header 
      %h1.header__header.tk-adelle-sans Damien Dart's Artwork
      %ul.header__navigation-list.tk-adelle-sans
        %li.header__navigation-list__item 
          %a{:href => "/"} &larr; Damien Dart's Homepage
        %li.header__navigation-list__item 
          %a{:href => "https://instagram.com/damiendart"} Instagram
        %li.header__navigation-list__item 
          %a{:href => "http://blog.robotinaponcho.net/"} Tumblr
    - Dir["public/art/*.{jpeg,png}"].each do |image|
      %img.image{:src => File.basename(image)}
    %footer.footer.tk-adelle-sans
      %p.footer__copyright Copyright &copy; #{`date +%Y`} Damien Dart
