{#---
# Copyright (C) Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more
# information, please refer to the accompanying "LICENCE" file.

title: 'Sitemap'
---#}

{% extends '.templates/base.html.twig' %}

{% block content %}
    <ul>
        {%
            for entry in inputFiles.sitemapEntries
                | filter(entry => 'sitemap' not in entry.metadata.slug and not (entry.metadata.slug matches '#notes/.+#'))
                | sort((a, b) => a.metadata.slug <=> b.metadata.slug)
        %}
            <li><a href="/{{ entry.metadata.slug }}">{{ entry.metadata.sitemapTitle ?? entry.metadata.title ?? entry.metadata.slug }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
