# Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
# This file is distributed under the MIT licence. For more information,
# please refer to the accompanying "LICENCE" file.

---
name: 'Lint Project'

on:
  push:
    branches:
      - 'master'

jobs:
  lint:
    env:
      YASSG_VERBOSE: true
    name: 'Lint project'
    runs-on: 'ubuntu-20.04'
    steps:
      - name: 'Check out repository'
        uses: 'actions/checkout@v3'

      - name: 'Set up Node environment'
        uses: 'actions/setup-node@v3'
        with:
          node-version: '18'

      - name: 'Set up PHP environment'
        uses: 'shivammathur/setup-php@v2'
        with:
          php-version: '8.2'

      - name: 'Install Task'
        run: 'curl -sL https://taskfile.dev/install.sh | sh'

      - name: 'Set up SSH gubbins'
        run: |
          mkdir ~/.ssh
          echo "${{ secrets.ASSETS_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: 'Ensure project builds and run all linting-related tasks'
        run: './bin/task ci'
