{#
    Copyright (C) 2022 Damien Dart, <damiendart@pobox.com>.
    This file is distributed under the MIT licence. For more
    information, please refer to the accompanying "LICENCE" file.
#}

{% extends '.templates/base.html.twig' %}

{% if description is defined %}
    {% set description = description | smartypants | trim %}
{% endif %}

{% block headCustom %}
    <link as="image" href="/assets/robot-and-things.webp" rel="preload">
    <link href="/assets/style-homepage.{{ releaseTimestamp }}.css" rel="stylesheet">
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="robot-and-things">
        <div class="robot-and-things__container">
            <h1 class="robot-and-things__item robot-and-things__item--robot">
                <span class="robot-and-things__item__image"><span class="screen-reader-only">Hello!</span></span>
            </h1>
            <h2 class="screen-reader-only">Featured links and things</h2>
            <ul>
                <li>
                    <a href="/projects/" class="robot-and-things__item robot-and-things__item--projects" title="Nerdy projects">
                        <span class="robot-and-things__item__image"><span class="screen-reader-only">Nerdy</span></span>
                        <span class="robot-and-things__item__label"><span class="screen-reader-only">projects</span></span>
                    </a>

                </li>
                <li>
                    <a href="mailto:damiendart@pobox.com" class="robot-and-things__item robot-and-things__item--contact" title="Contact me">
                        <span class="robot-and-things__item__image"><span class="screen-reader-only">Contact</span></span>
                        <span class="robot-and-things__item__label"><span class="screen-reader-only">me</span></span>
                    </a>
                </li>
                <li>
                    <a href="#about" class="robot-and-things__item robot-and-things__item--about" title="About me">
                        <span class="robot-and-things__item__image"><span class="screen-reader-only">About</span></span>
                        <span class="robot-and-things__item__label"><span class="screen-reader-only">me</span></span>
                    </a>
                </li>
                <li>
                    <a href="/notes/" class="robot-and-things__item robot-and-things__item--notes" title="Notes on stuff and things">
                        <span class="robot-and-things__item__image"><span class="screen-reader-only">Notes</span></span>
                        <span class="robot-and-things__item__label"><span class="screen-reader-only">on stuff and things</span></span>
                    </a>
                </li>
                <li>
                    <a href="/art/" class="robot-and-things__item robot-and-things__item--artwork" title="Artwork and illustrations">
                        <span class="robot-and-things__item__image"><span class="screen-reader-only">Artwork</span></span>
                        <span class="robot-and-things__item__label"><span class="screen-reader-only">and illustrations</span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{ renderedMarkdown | raw }}
{% endblock %}
